:root {
    --table-text-color: white;
    --table-lt-color: #1060A0;
    --table-dk-color: #005070;
    --table-aux-pri-color: #0090CC;
    --table-aux-sec-color: #00A0E0;
    --table-sec-lt-color:#1090C0;
    --table-sec-dk-color:#007090;
}

* {
    cursor: default;
}

body {
    color: var(--table-text-color);
    margin:0px;
    font-family: Roboto, Helvetica Neue, Source Sans Pro, sans-serif; /* Consolas, Segoe UI, Tahoma, Verdana */
    font-size: 18px;
}

table, thead, tbody, tfoot, th, td {
    padding: 18px 36px;
    border-collapse: collapse;
}

table {
    min-width: 600px;
    border-bottom: thin solid #EEEEEE;
}

thead {
}

th {
    text-align: left;
    border-bottom: thin solid #EEEEEE;
}

td {
    border-top: thin solid var(--table-aux-pri-color);
}

tbody td:hover {
    background-color: var(--table-aux-pri-color);
}

tbody td:active {
    background: var(--table-aux-sec-color);
}

tfoot td {
    height: 20px;
}

#app-header {
    position: fixed;
    width: 100%;
    height: 100px;
    background: linear-gradient(to right, #333333, #232323);
    z-index: 1;
}

#new-table-button {
    position: absolute;
    display: inline;
    width: 50px;
    height: 50px;
    color: white;
    background: url('add.svg');
    background-position: center;
    background-size: contain;
    background-color: transparent;
    margin-top: 25px;
    margin-left: 50px;
    border: 2px solid white;
    border-radius: 32px;
    box-sizing: border-box;
}

#new-table-button:hover {
    border: 3px solid white;
}

#new-table-button:active {
    border: 4px solid white;
}

#new-table-button:focus {
    outline: none;
}

#app-title {
    position: relative;
    display: inline-block;
    width: 100%;
    color: white;
    margin-top: 48px;
    font-size: 36px;
    line-height: 0px;
    text-align: center;
}

#app-buffer {
    height: 100px;
}

.table-container {
    display: inline-block;
    vertical-align: top;
    background: linear-gradient(to right, var(--table-lt-color), var(--table-dk-color));
    margin: 24px;
    border-radius: 24px;
}

.table-controls {
    height: 40px;
    margin: 40px 40px;
    text-align: right;
}

.table-controls-search {
    float: right;
    margin-right: 32px;
}

.table-controls-search-input {
    float: right;
    width: 100px;
    height: 40px;
    color: grey;
    padding: 10px 20px;
    border: none;
    border-radius: 24px;
    box-sizing: border-box;
    font-size: 14px;
    opacity: 0.95;
    transition: width 0.5s;
}

.table-controls-search-input:hover {
    opacity: 0.95;
    cursor: text;
    width: 220px;
}

.table-controls-search-input:focus {
    opacity: 1;
    outline: none;
    width: 220px;
}

.table-controls-color {
    float: right;
    display: inline-block;
    width: 48px;
    height: 40px;
    background-color: transparent;
    background-image: url('colorpallete.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 16px;
    border: 2px solid var(--table-text-color);
    border-radius: 24px;
    box-sizing: border-box;
    transition: linear 0.1s;
}

.table-controls-color:hover {
    height: 56px;
    background-color: rgba(255, 255, 255, 0.4);
    background-image: none;
    border: 2px solid var(--table-text-color);
    border-bottom: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    cursor: pointer;
}

.table-controls-color:focus {
    outline: none;
}

.table-controls-color-tab {
    display: grid;
    grid-template-columns: 64px 64px;
    position: relative;
    top: 54px;
    left: -94px;
    width: 128px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 4px;
    border: 2px solid var(--table-text-color);
    border-radius: 24px;
    border-top-right-radius: 0px;
}

.table-controls-color-tab:hover {
   background-color: rgba(255, 255, 255, 0.8);
}

.table-controls-color-button {
    display: inline-block;
    width: 54px;
    height: 40px;
    margin: 4px;
    padding: 0px;
    border: 3px solid #A5A5A5;
    border-radius: 64px;
    box-sizing: border-box;
}

.table-controls-color-button:hover {
    width: 62px;
    height: 48px;
    margin: 0px;
    border: 4px solid #909090;
    transition: border 0.1s linear;
}

.table-controls-color-button:focus {
    outline: none;
}

.table-controls-layout {
    float: right;
    display: inline-block;
    width: 48px;
    height: 40px;
    background-color: transparent;
    background-image: url('layout.svg');
    background-position: center;
    background-size: contain;
    margin-right: 32px;
    box-sizing: border-box;
    border: 2px solid var(--table-text-color);
    border-radius: 12px;
    transition: linear 0.1s;
}

.table-controls-layout:hover {
    height: 56px;
    background-color: rgba(255, 255, 255, 0.4);
    background-image: none;
    border: 2px solid var(--table-text-color);
    border-bottom: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    cursor: pointer;
}

.table-controls-layout:focus {
    outline: none;
}

.table-controls-layout-tab {
  position: relative;
  top: 54px;
  left: -2px;
  width: 136px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.4);
  border: 2px solid var(--table-text-color);
  border-radius: 12px;
  border-top-left-radius: 0px;
}

.table-controls-layout-tab:hover {
   background-color: rgba(255, 255, 255, 0.8);
}

.table-controls-edit {
    float: right;
    width: 40px;
    height: 40px;
    background-color: transparent;
    background-image: url('edit.svg');
    background-position: center;
    background-size: contain;
    margin-right: 32px;
    border: 2px solid var(--table-text-color);
    border-radius: 8px;
    box-sizing: border-box;
}

.table-controls-edit:hover {
    border: 4px solid var(--table-text-color);
    cursor: pointer;
}

.table-controls-edit:active {
    width: 36px;
    height: 36px;
    margin-top: 2px;
    margin-right: 34px;
    margin-left: 2px;
}

.table-controls-edit:focus {
    outline: none;
}

.table-controls-delete {
    float: right;
    width: 24px;
    height: 24px;
    background-color: transparent;
    background: url('delete.svg'), #FF3366;
    background-position: center;
    background-size: contain;
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
    border: 2px solid var(--table-text-color);
    border-radius: 50%;
    transition: width 0.25s, height 0.25s, margin 0.25s, background-color 0.5s;
}

.table-controls-delete:hover {
    width: 40px;
    height: 40px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    cursor: pointer;
    transition: width 0.25s, height 0.25s, margin 0.25s;
}

.table-controls-delete:active {
    width: 32px;
    height: 32px;
    margin-top: 4px;
    margin-left: 4px;
    margin-right: 4px;
    transition: 0s;
}

.table-controls-delete:focus {
    outline: none;
}

.table-th:hover {
    background-image: url('sort.svg');
    background-position: 100% 50%;
    background-size: 30% 30%;
    background-repeat: no-repeat;
    background-color: var(--table-aux-pri-color);
}

.table-th:active {
    background-color: var(--table-aux-sec-color);
}

.table-new-column-button {
    width: 24px;
    height: 24px;
    background: url('add.svg');
    background-position: center;
    background-size: contain;
    background-color: limegreen;
    margin-top: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
    padding: 0px;
    border: 2px solid white;
    box-sizing: border-box;
    border-radius: 18px;
}

.table-new-column-button:hover {
    width: 32px;
    height: 32px;
    margin-top: 4px;
    margin-left: 4px;
    margin-bottom: 4px;
    margin-right: 4px;
    padding: 0px;
}

.table-new-column-button:active {
    width: 28px;
    height: 28px;
    margin: 6px;
}

.table-new-column-button:focus {
    outline: none;
}

.table-row-actions {
    padding: 0px;
    text-align: center;
}

.table-row-actions-button {
    width: 24px;
    height: 24px;
    margin-top: 12px;
    margin-bottom: 10px;
    padding: 0px;
    border: none;
    background: url('remove.svg');
    background-size: contain;
    background-position: center;
    transition: 0.1s linear;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(180deg);}
}

.table-row-actions-button:hover {
    -webkit-animation: spin 0.25s linear 1;
    width: 32px;
    height: 32px;
    margin-top: 8px;
    margin-bottom: 6px;
}

.table-row-actions-button:focus {
    outline: none;
}

.table-row-actions-button:active {
    margin-top: 12px;
    margin-bottom: 10px;
    width: 24px;
    height: 24px;
    transition-duration: 0s;
}

.table-nav {
    height: 100px;
}

.selection {

}

.selection-row {

}

.selection-column {

}

.selection-equivalent {

}

#popups-container {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #454545;
}

.popup {
    position: relative;
    min-width: 600px;
    height: 540px;
    background-color: #EEEEEE;
    margin: 160px 50% 160px 10%;
    border-radius: 16px;
}
