:root {
    --table-text-color: white;
    --table-lt-color: #1060A0;
    --table-dk-color: #005070;
    --table-aux-pri-color: #0090CC;
    --table-aux-sec-color: #00A0E0;
    --table-sec-lt-color:#1090C0;
    --table-sec-dk-color:#007090;
}

* {
    cursor: default;
}

body {
    color: var(--table-text-color);
    margin:0px;
    font-family: Roboto, Helvetica Neue, Source Sans Pro, sans-serif; /* Consolas, Segoe UI, Tahoma, Verdana */
    font-size: 18px;
}

table, thead, tbody, tfoot {
    padding: 18px 36px;
    border-collapse: collapse;
}

table {
    min-width: 600px;
    border-bottom: thin solid #EEEEEE;
}

thead {
}

th {
    padding: 6px 16px;
    border-bottom: thin solid #EEEEEE;
    text-align: left;
}

td {
    padding: 8px 16px;
    border-top: thin solid var(--table-aux-pri-color);
    text-align: left;
}

tfoot td {
    height: 20px;
}

tbody {
}

#app-header {
    position: fixed;
    width: 100%;
    min-width: 820px;
    height: 100px;
    background: linear-gradient(to right, #333333, #232323);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

#new-table-button {
    position: absolute;
    display: inline;
    width: 50px;
    height: 50px;
    color: white;
    background: url('add.svg');
    background-position: center;
    background-size: contain;
    background-color: transparent;
    margin-top: 25px;
    margin-left: 50px;
    border: 2px solid white;
    border-radius: 32px;
    box-sizing: border-box;
}

#new-table-button:hover {
    border-color: #50C070;
}

#new-table-button:active {
    border: 4px solid #50C070;
}

#new-table-button:focus {
    outline: none;
}

#new-table-tooltip {
    visibility: hidden;
    width: 112px;
    color: #232323;
    background-color: white;
    position: absolute;
    bottom: -75%;
    left: 100%;
    margin-left: -76px;
    padding: 5px 0;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.5s;
    transition-delay: 0.5s;
}

#new-table-button:hover #new-table-tooltip {
    visibility: visible;
    opacity: 1;
}

#new-table-button:active #new-table-tooltip {
    visibility: hidden;
}

#app-title {
    position: relative;
    display: inline-block;
    width: 100%;
    color: white;
    margin-top: 48px;
    font-size: 36px;
    line-height: 0px;
    text-align: center;
}

#app-buffer {
    height: 100px;
}

#tables-container {
    text-align: center;
}

.table-container {
    display: inline-block;
    vertical-align: top;
    background: linear-gradient(to right, var(--table-lt-color), var(--table-dk-color));
    margin: 24px;
    border-radius: 24px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.table-controls {
    height: 40px;
    margin: 40px 40px;
    text-align: right;
}

.table-controls-search {
    float: right;	
    margin-right: 32px;
}

.table-controls-search-input {
    float: right;
    width: 100px;
    height: 40px;
    color: grey;
    padding: 10px 20px;
    border: none;
    border-radius: 24px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-size: 14px;
    opacity: 0.95;
    transition: width 0.5s;
}

.table-controls-search-input:hover {
    opacity: 0.95;
    cursor: text;
    width: 220px;
}

.table-controls-search-input:focus {
    opacity: 1;
    outline: none;
    width: 220px;
}

.table-controls-color {
    float: right;
    display: inline-block;
    width: 48px;
    height: 40px;
    background-color: transparent;
    background-image: url('colorpallete.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 16px;
    border: 2px solid var(--table-text-color);
    border-radius: 24px;
    box-sizing: border-box;
    transition: linear 0.1s;
}

.table-controls-color:hover {
    height: 56px;
    background-color: rgba(255, 255, 255, 0.4);
    background-image: none;
    border: 2px solid var(--table-text-color);
    border-bottom: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    cursor: pointer;
}

.table-controls-color:focus {
    outline: none;
}

.table-controls-color-tab {
    display: grid;
    grid-template-columns: 64px 64px;
    position: relative;
    top: 54px;
    left: -94px;
    width: 128px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 4px;
    border: 2px solid var(--table-text-color);
    border-radius: 24px;
    border-top-right-radius: 0px;
}

.table-controls-color-tab:hover {
   background-color: rgba(255, 255, 255, 0.8);
}

.table-controls-color-button {
    display: inline-block;
    width: 54px;
    height: 40px;
    margin: 4px;
    padding: 0px;
    border: 3px solid #A5A5A5;
    border-radius: 64px;
    box-sizing: border-box;
}

.table-controls-color-button:hover {
    width: 62px;
    height: 48px;
    margin: 0px;
    border: 4px solid #909090;
    transition: border 0.1s linear;
}

.table-controls-color-button:focus {
    outline: none;
}

.table-controls-layout {
    float: right;
    display: inline-block;
    width: 48px;
    height: 40px;
    background-color: transparent;
    background-image: url('layout.svg');
    background-position: center;
    background-size: contain;
    margin-right: 32px;
    box-sizing: border-box;
    border: 2px solid var(--table-text-color);
    border-radius: 12px;
    transition: linear 0.1s;
}

.table-controls-layout:hover {
    height: 56px;
    background-color: rgba(255, 255, 255, 0.4);
    background-image: none;
    border: 2px solid var(--table-text-color);
    border-bottom: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    cursor: pointer;
}

.table-controls-layout:focus {
    outline: none;
}

.table-controls-layout-tab {
  position: relative;
  top: 54px;
  left: -2px;
  width: 136px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.4);
  border: 2px solid var(--table-text-color);
  border-radius: 12px;
  border-top-left-radius: 0px;
}

.table-controls-layout-tab:hover {
   background-color: rgba(255, 255, 255, 0.8);
}

.table-controls-edit {
    float: right;
    width: 40px;
    height: 40px;
    background-color: transparent;
    background-image: url('edit.svg');
    background-position: center;
    background-size: contain;
    margin-right: 32px;
    border: 2px solid var(--table-text-color);
    border-radius: 8px;
    box-sizing: border-box;
}

.table-controls-edit:hover:enabled {
    background-color: rgba(255, 255, 255, 0.25);
    cursor: pointer;
}

.table-controls-edit:active:enabled {
    width: 36px;
    height: 36px;
    background-color: rgba(0, 0, 0, 0.25);
    margin-top: 2px;
    margin-right: 34px;
    margin-left: 2px;
}

.table-controls-edit:focus {
    outline: none;
}

.table-controls-delete {
    float: right;
    width: 24px;
    height: 24px;
    background-color: transparent;
    background: url('delete.svg'), #FF3366;
    background-position: center;
    background-size: contain;
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
    border: 2px solid var(--table-text-color);
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: width 0.25s, height 0.25s, margin 0.25s, background-color 0.5s;
}

.table-controls-delete:hover {
    width: 40px;
    height: 40px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    cursor: pointer;
    transition: width 0.25s, height 0.25s, margin 0.25s;
}

.table-controls-delete:active {
    width: 32px;
    height: 32px;
    margin-top: 4px;
    margin-left: 4px;
    margin-right: 4px;
    transition: 0s;
}

.table-controls-delete:focus {
    outline: none;
}

.table-th:hover {
    background-image: url('sort.svg');
    background-position: 100% 50%;
    background-size: 30% 30%;
    background-repeat: no-repeat;
    background-color: var(--table-aux-pri-color);
}

.table-th:active {
    background-color: var(--table-aux-sec-color);
}

.th-editing:hover {
    background: none;
}

.table-thc {
    max-width: 160px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 12px 22px;
}

.table-thc:focus {
    max-width: none;
}

.thc-editing {
    padding: 11px 21px;
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid transparent;
    border-radius: 6px;
}

.thc-editing:hover {
    border: 1px solid var(--table-text-color);
}

.thc-editing:focus {
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid var(--table-text-color);
    outline: none;
}

.table-new-column-button {
    width: 24px;
    height: 24px;
    background: url('add.svg');
    background-position: center;
    background-size: contain;
    background-color: #50C070;
    margin-top: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
    padding: 0px;
    border: 2px solid white;
    box-sizing: border-box;
    border-radius: 18px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.table-new-column-button:disabled {
    filter: grayscale(100%);
    opacity: 0.5;
}

.table-new-column-button:hover:enabled {
    width: 32px;
    height: 32px;
    margin-top: 4px;
    margin-left: 4px;
    margin-bottom: 4px;
    margin-right: 4px;
    padding: 0px;
}

.table-new-column-button:active:enabled {
    width: 28px;
    height: 28px;
    margin: 6px;
}

.table-new-column-button:focus {
    outline: none;
}

.table-new-column-button-container {
    text-align: center;
}

.table-data {
}

.table-data:hover {
    background-color: var(--table-aux-pri-color);
}

.table-data:active {
    background: var(--table-aux-sec-color);
}

.td-editing {
}

.td-editing:hover {
    background-color: transparent;
}

.table-cell {
    max-width: 160px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 10px 20px;
}

.table-cell:focus {
    max-width: none;
}

.table-empty-edit-cell {
    height: 24px;
    color: #333333;
    background-color: white;
    margin: 1px 8px;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    line-height: 24px;
    opacity: 0.8;
}

.table-empty-edit-cell:hover {
    cursor: text;
    opacity: 0.9;
}

.table-empty-edit-cell:focus {
    opacity: 1;
    outline: none;
}

.tc-editing {
    padding: 9px 19px;
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid transparent;
    border-radius: 6px;
}

.tc-editing:hover {
    border: 1px solid var(--table-text-color);
}

.tc-editing:focus {
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid var(--table-text-color);
    outline: none;
}

.table-new-row-button-container {
    height: 60px;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.table-new-row-button {
    width: 180px;
    height: 40px;
    color: white;
    background-color: #50B070;
    background-image: url('add.svg');
    background-size: 10%;
    background-position: 7.5% center;
    background-repeat: no-repeat;
    padding-left: 24px;
    border: 2px solid white;
    border-radius: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-size: 18px;
}

.table-new-row-button:disabled {
    filter: grayscale(100%);
    opacity: 0.5;
}

.table-new-row-button:hover:enabled {
    background-color: #50C070;
}

.table-new-row-button:focus:enabled {
    outline: none;
}

.table-new-row-button:active:enabled {
    background-color: #50B070;
}

.table-new-row-confirm-button {
    width: 100px;
    height: 40px;
    color: white;
    background: transparent;
    margin-right: 12px;
    border: 2px solid white;
    border-radius: 4px;
    font-size: 18px;
}

.table-new-row-confirm-button:hover {
    background: #50B070;
    border: 2px solid white;
}

.table-new-row-confirm-button:focus {
    outline: none;
}

.table-new-row-cancel-button {
    width: 100px;
    height: 40px;
    color: white;
    background: transparent;
    border: 2px solid white;
    border-radius: 4px;
    font-size: 18px;
}

.table-new-row-cancel-button:hover {
    background: #FF3366;
    border: 2px solid white;
}

.table-new-row-cancel-button:focus {
    outline: none;
}

.table-row-actions {
    padding: 0px;
    text-align: center;
}

.table-row-actions-button {
    width: 20px;
    height: 20px;
    background: url('remove.svg');
    background-color: #FF3366;
    background-size: contain;
    background-position: center;
    margin-top: 12px;
    margin-bottom: 10px;
    padding: 0px;
    border: 2px solid white;
    border-radius: 30px;
    box-shadow: 0 0px 8px 0px rgba(0, 0, 0, 0.3);
    transition: 0.1s linear;
}

@keyframes flip {
    from {transform:rotate(0deg);}
    to {transform:rotate(180deg);}
}

.table-row-actions-button:hover:enabled {
    -webkit-animation: flip 0.25s linear 1;
    width: 28px;
    height: 28px;
    margin-top: 8px;
    margin-bottom: 6px;
}

.table-row-actions-button:focus {
    outline: none;
}

.table-row-actions-button:active:enabled {
    margin-top: 12px;
    margin-bottom: 10px;
    width: 24px;
    height: 24px;
    transition-duration: 0s;
}

.table-row-actions-button:disabled {
    filter: grayscale(100%);
    opacity: 0.5;
    transition-duration: 0s;
}

.table-nav {
    height: 100px;
}

.selection {

}

.selection-row {

}

.selection-column {

}

.selection-equivalent {

}

#popups-container {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
}

.popup-curtain::before {
    filter: grayscale(1);
}

#popup-curtain {
    position: absolute;
    background-color: #E5E5E5;
    opacity: 0.45;
    width: 100%;
    height: 100vh;
}

#nt-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 800px;
    height: 600px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    margin: -250px 0 0 -400px;
    border-radius: 8px;
}

#dt-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    height: 240px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    margin: -80px 0 0 -225px;
    border-radius: 8px;
}

.popup-escape {
    float: right;
    width: 20px;
    height: 20px;
    background-color: #FF3366;
    background-image: url('delete.svg');
    background-position: center;
    background-size: contain;
    margin: 18px;
    border: none;
    border-radius: 12px;
}

.popup-escape:hover {
    width: 24px;
    height: 24px;
    background-color: #DD1144;
    margin: 16px;
}

.popup-escape:focus {
    outline: none;
}

.popup-escape:active {
    width: 20px;
    height: 20px;
    margin: 18px;
}

.nt-popup-header {
    color: #454545;
    padding-top: 36px;
    padding-left: 36px;
    font-size: 24px;
}

.nt-popup-body {
    width: 700px;
    height: 460px;
    color: #AAAAAA;
    padding-top: 18px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 16px;
}

#nt-popup-table-editor-container {
    height: 360px;
}

#nt-popup-body-radio-load {
    margin-right: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    top: 1px;
    width: 16px;
    height: 16px;
    border: 2px solid #999;
    border-radius: 50%;
    outline: none;
    transition: 0.2s;
}

#nt-popup-body-radio-load:hover {
    border: 2px solid #44AAFF;
}

#nt-popup-body-radio-load:checked {
    border: 6px solid #3399EE;
}

.nt-popup-body-radio-load-text {
    margin-right: 24px;
}

#nt-popup-body-radio-empty {
    margin-right: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    top: 1px;
    width: 16px;
    height: 16px;
    border: 2px solid #999;
    border-radius: 50%;
    outline: none;
    transition: 0.2s;
}

#nt-popup-body-radio-empty:hover {
    border: 2px solid #44AAFF;
}

#nt-popup-body-radio-empty:checked {
    border: 6px solid #3399EE;
}

.nt-popup-body-p {
    margin-left: 8px;
    margin-bottom: 12px;
    color: #0088DD;
}

#nt-popup-file {
    display: none;
}

#nt-popup-file-label {
    display: inline-block;
    color: #888888;
    background: url('upload.svg');
    background-position: 9% center;
    background-size: 20%;
    background-repeat: no-repeat;
    margin: 4px 8px;
    padding: 8px 12px 8px 48px;
    border: 1px solid #0088DD;
    box-sizing: border-box;
    cursor: pointer;
}

#nt-popup-file-label:hover {
    color: #44BBFF;
    border: 2px solid #0088DD;
    padding: 7px 11px 7px 47px;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

#nt-popup-load-loader {
    display: inline-block;
    position: relative;
    top: 7px;
    left: 12px;
    width: 21px;
    height: 21px;
    border-top: 2px solid #0088DD;
    border-left: 2px solid #0088DD;
    border-bottom: 2px solid #0088DD;
    border-right: 2px solid transparent;
    border-radius: 36px;
    -webkit-animation: spin 0.5s linear infinite;*/
}

#nt-popup-table-editor-header-switch-container {
    position: relative;
    padding-left: 36px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    user-select: none;
}

#nt-popup-table-editor-header-switch-container input {
    display: none;
}

#nt-popup-table-editor-header-switch-checkmark {
    position: absolute;
    top: -2px;
    left: 0;
    height: 24px;
    width: 24px;
    border: 2px solid #A5A5A5;
    box-sizing: border-box;
    cursor: pointer;
    transition: border 0.2s;
}

#nt-popup-table-editor-header-switch-checkmark:hover {
    border-color: #44AAFF;
}

#nt-popup-table-editor-header-switch:checked ~ #nt-popup-table-editor-header-switch-checkmark {
    border-width: 8px;
    border-color: #44AAFF;
}

#nt-popup-table-editor-header-entry-container {
    white-space: nowrap;
    overflow-y: auto;
    width: 100%;
    height: 80px;
    margin-top: 24px;
    border: thin solid #B5B5B5;
    box-sizing: content-box;
}

.nt-popup-table-editor-header-entry {
    display: inline-block;
    min-width: 72px;
    max-width: 144px;
    overflow: hidden;
    height: 32px;
    color: #888888;
    margin: 16px 0px 0px 12px;
    padding: 6px 12px 4px 12px;
    border: thin solid #C9C9C9;
    border-radius: 8px;
    font-size: 24px;
}

.nt-popup-table-editor-header-entry:hover {
    background-color: #F5F5F5;
}

.nt-popup-table-editor-header-entry:focus {
    background-color: #F0F0F0;
    outline: none;
}

#nt-popup-table-editor-preview {
    width: 100%;
    height: 180px;
    margin-top: 24px;
    border: thin solid #B5B5B5;
}

#nt-popup-table-name-text {
    color: grey;
    margin: 4px;
}

#nt-popup-table-name-input {
    width: 240px;
    height: 16px;
    padding: 8px 16px;
    border: thin solid grey;
    border-radius: 4px;
}

#nt-popup-table-name-input:hover {
    background-color: #F5F5F5;
    cursor: text;
}

#nt-popup-table-name-input:focus {
    background-color: #F0F0F0;
    outline: none;
}

#nt-popup-table-name-example {
    margin: 4px;
    font-size: 14px;
}

.nt-popup-footer {
    background-color: #454545;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    text-align: right;
}

.nt-popup-continue {
    width: 100px;
    height: 40px;
    color: white;
    background-color: transparent;
    margin-right: 24px;
    border: 1px solid white;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.nt-popup-continue:disabled {
    color: #AAAAAA;
    border: 1px solid #AAAAAA;
}

.nt-popup-continue:hover:enabled {
    color: #454545;
    background-color: white;
}

.nt-popup-continue:focus:enabled {
    outline: none;
}

.nt-popup-cancel {
    width: 100px;
    height: 40px;
    color: white;
    background-color: transparent;
    margin-right: 24px;
    border: 1px solid white;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.nt-popup-cancel:hover {
    color: #454545;
    background-color: white;
}

.nt-popup-cancel:focus {
    outline: none;
}

.dt-popup-header {
    color: #777777;
    padding-top: 36px;
    padding-left: 36px;
    font-size: 24px;
}

.dt-popup-body {
    color: #AAAAAA;
    padding-top: 18px;
    padding-left: 48px;
    padding-right: 92px;
    font-size: 16px;
}

.dt-popup-options {
    padding-top: 28px;
    text-align: center;
}

.dt-popup-continue {
    width: 140px;
    height: 50px;
    color: white;
    background-color: #454545;
    margin-right: 48px;
    border: none;
    box-sizing: border-box;
    font-size: 18px;
}

.dt-popup-continue:hover {
    background-color: #FF3366;
}

.dt-popup-continue:focus {
    outline: none;
}

.dt-popup-cancel {
    width: 140px;
    height: 50px;
    color: white;
    background-color: #454545;
    border: none;
    box-sizing: border-box;
    font-size: 18px;
}

.dt-popup-cancel:hover {
    background-color: #FF3366;
}

.dt-popup-cancel:focus {
    outline: none;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #117799;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #3388AA;
}
