:root {
    --br-color: #4ACAD9; /*Bright Color*/
    --xl-color: #549bb7; /*Extra Light Color*/
    --lt-color: #2180A6; /*Light Color*/
    --md-color: #1C618C; /*Medium Color*/
    --dk-color: #114559; /*Dark Color*/
    --xd-color: #0A2A3E; /*Extra Dark Color*/
}

* {
    cursor: default;
}

body {
    color: white;
    margin:0px;
    font-family: Roboto, Helvetica Neue, Source Sans Pro, sans-serif; /* Consolas, Segoe UI, Tahoma, Verdana */
    font-size: 18px;
}

table, thead, tbody, tfoot, tr, th, td {
    padding: 18px 36px;
    border-collapse: collapse;
}

table {
    /* border: thin solid var(--dk-color, #555555); */
    /* background: linear-gradient(to right, #12b5a0, #05abaf); */
    /* background: linear-gradient(to right, #549bb7, #2180A6); blue: light */
    /* background: linear-gradient(to right, #549bb7, #1C618C); blue: light -> med */
    /* background: linear-gradient(to right, #2180A6, #1C618C); blue: med */
    /* background: linear-gradient(to right, #2180A6, #0A2A3E); blue: med -> dark (high contrast) */
    /* background: linear-gradient(to right, #1C618C, #0A2A3E); blue: med -> dark (low contrast) */
    /* background: linear-gradient(to right, #114559, #0A2A3E); blue: dark */
    border-bottom: thin solid white;
}

thead {
    /* background-color: var(--lt-color, #F3F3F3); */
}

th {
    text-align: left;
    /* border-bottom: thin solid var(--dk-color, #555555); */
    border-bottom: thin solid #EEEEEE;
}

tbody {
}

td {
    /* border-top: thin solid var(--md-color, #E5E5E5); */
    border-top: thin solid #009396;
}

td:hover {
    background-color: #009396;
}

tr {
    padding-right: 64px;
}

.table-container {
    display: inline-block;
    background: linear-gradient(to right, #12b5a0, #05abaf);
    margin: 24px;
    border-radius: 8px;
}

.table-controls {
    height: 40px;
    margin: 40px 40px;
    text-align: right;
}

.table-controls-search {
    float: right;
    width: 240px;
    margin-right: 32px;
}

.table-controls-search-input {
    float: right;
    width: 200px;
    height: 20px;
    color: grey;
    padding: 10px 20px;
    border: none;
    border-radius: 24px;
    font-size: 14px;
}

.table-controls-search-input:hover {
    cursor: text;
}

.table-controls-search-input:focus {
    outline: none;
}

.table-controls-color {
    float: right;
    display: inline-block;
    width: 48px;
    height: 40px;
    background-color: transparent;
    margin-right: 16px;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 12px;
    transition: linear 0.1s;
}

.table-controls-color:hover {
    height: 56px;
    background-color: transparent;
    border: 2px solid white;
    border-bottom: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    cursor: pointer;
}

.table-controls-color:focus {
  outline: none;
  background-color: white;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.table-controls-color-tab {
  position: relative;
  top: 54px;
  left: -94px;
  width: 136px;
  height: 200px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 8px;
  border-top-right-radius: 0px;
}

.table-controls-color-tab:hover {
  opacity: 1;
}

.table-controls-layout {
    float: right;
    display: inline-block;
    width: 48px;
    height: 40px;
    background-color: transparent;
    margin-right: 32px;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 12px;
    transition: linear 0.1s;
}

.table-controls-layout:hover {
  height: 56px;
  background-color: transparent;
  border: 2px solid white;
  border-bottom: none;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  cursor: pointer;
}

.table-controls-layout:focus {
  outline: none;
  background-color: white;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.table-controls-layout-tab {
  position: relative;
  top: 54px;
  left: -2px;
  width: 136px;
  height: 200px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 8px;
  border-top-left-radius: 0px;
}

.table-controls-edit {
    float: right;
    width: 40px;
    height: 40px;
    background-color: yellow;
    margin-right: 32px;
    border: none;
}

.table-controls-edit:hover {
    cursor: pointer;
}

.table-controls-edit:focus {
    outline: none;
}

.table-controls-delete {
    float: right;
    width: 20px;
    height: 20px;
    background-color: #FF3366;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border: 3px solid transparent;
    border-radius: 50%;
    transition: border 1s, width 0.25s, height 0.25s, margin 0.25s, background-color 0.5s;
}

.table-controls-delete:hover {
    width: 40px;
    height: 40px;
    background-color: transparent;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border: 3px solid #FF3366;
    cursor: pointer;
    transition: border 1s, width 0.25s, height 0.25s, margin 0.25s;
}

.table-controls-delete:focus {
    outline: none;
}

.selection {

}

.selection-row {

}

.selection-column {

}

.selection-equivalent {

}
